.flight-leg {
  display: flex;
  flex-direction: column;
}

.flight-header {
  height: 4.3rem;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #0087c9;
  color: #fff;
  font-size: 1.15rem;

  & img {
    max-width: 10rem;
    max-height: 90%;
  }

  & div {
    text-align: end;
  }

  & .flight-price {
    font-size: 2rem;
  }
}

.flight-btn {
  color: white;
  background-color: #f2b36f;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.4rem 0;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.flight-btn:hover {
  background-color: #d59148;
}
.flight-btn:active {
  background-color: #966531;
}