.flight-segment {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  
  & span {
    color: #16a4de;
  }
}

.flight-route {
  padding: 1.2rem;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.flight-time {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  & div {
    font-size: 2rem;

    span {
      font-size: 1.8rem;
    }
  }
  & img {
    width: 2rem;
  }
}

.flight-layover {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #ffb168;
}

.flight-layover:before, 
.flight-layover:after {
  content: '';
  position: absolute;
  top: 51%;
  width: 30%;
  height: 1px;
  background-color: rgb(104, 103, 103);
}
.flight-layover:before {
  margin-left: -35%;

}
.flight-layover:after {
  margin-left: 5%;
}

.flight-layover-line {
  width: 100%;
  height: 1px;
  background-color: rgb(104, 103, 103);
}

.flight-airline {
  padding: 1rem;
  font-size: 1.6rem;
}

.flight-breaker-line {
  width: 100%;
  height: 2px;
  background-color: #0087c9;
}