*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
}

html {
/* 1 rem = 10px */
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

#root {
  max-width: 96rem;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 4.4rem 0 2rem;
  display: flex;
  gap: 3.8rem;
  font-family: sans-serif;
}

.main {
  flex: 1;
  & ul {
    margin: 0;
    padding: 0;
  }
}

.flight-items {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

